

<!-- HTML FORM  -->

<p> HTML FORM</p>
<form class="" action="/energies" method="post">
  <%= csrf_meta_tag %>
  <input type="text" name="energy[color]" value="">
  <input type="integer" name="powerful" value="">
  <input type="submit">
</form>
<p> FORM TAG </p>


<p> FORM FOR </p>

<%= render "form" %>
