<h1>Insert the form to create a new instance of your model.</h1>

<form class="" action="/fakeholidays" method="post">
  <input type="text" name="name" placeholder="😉">
  <input type="text" name="date" placeholder="date">
  <input type="text" name="fun" placeholder="😉">
  <input type="submit">
</form>
