<h1><%= @vehicle.name %></h1>

<label for="Sentience">Am I Feeling?</label>
<%= @vehicle.sentience %>
<br />
Number of Lights: <%= @vehicle.lights %>
<label for="type"><%= @vehicle.veh_type %></label>
