<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>🍣FlatSushi Palace🍣</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/stylesheets/main.css" /> -->
  </head>
  <body>
    <header>
      <nav>
        <a href="/sushis">Index</a>
        <a href="/sushis/new">New Sushi</a>
      </nav>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
